### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.7 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 15.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [26]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://2320506046:admin123@cluster0.wvk4q.mongodb.net/')
db = client['company']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [27]:
employees_data = [
    {'name': 'Alice','department': 'Finance','age': 29,'salary': 4500},
    {'name': 'Dila','department': 'Marketting','age': 20,'salary': 9000},
    {'name': 'Nur','department': 'Public speaker','age': 19,'salary': 6500},
    {'name': 'Rahma','department': 'Public speaker','age': 28,'salary': 5500},
    {'name': 'Dinda','department': 'Finance','age': 20,'salary': 6500},
    {'name': 'Dini','department': 'Marketting','age': 19,'salary': 7500},
    {'name': 'Jundi','department': 'Public speaker','age': 21,'salary': 8000},
    {'name': 'Nabila','department': 'Finance','age': 19,'salary': 7500},
]
#insert
collection.insert_many(employees_data)
print('Data inserted')
for employees in collection.find():
    print(employees)
print('\n')
#update
query = {'name':'Alice'}
update = {'$set': {'salary': 6000}}
collection.update_one(query, update)
print('Data updated')
for employees in collection.find():
    print(employees)
print('\n')
#delete
query = {'name':'Alice'}
collection.delete_one(query)
print('Data deleted')
for employees in collection.find():
    print(employees)

Data inserted
{'_id': ObjectId('672475933763d827ff362c84'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672475933763d827ff362c85'), 'name': 'Dila', 'department': 'Marketting', 'age': 20, 'salary': 9000}
{'_id': ObjectId('672475933763d827ff362c86'), 'name': 'Nur', 'department': 'Public speaker', 'age': 19, 'salary': 6500}
{'_id': ObjectId('672475933763d827ff362c87'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('672475933763d827ff362c88'), 'name': 'Dinda', 'department': 'Finance', 'age': 20, 'salary': 6500}
{'_id': ObjectId('672475933763d827ff362c89'), 'name': 'Dini', 'department': 'Marketting', 'age': 19, 'salary': 7500}
{'_id': ObjectId('672475933763d827ff362c8a'), 'name': 'Jundi', 'department': 'Public speaker', 'age': 21, 'salary': 8000}
{'_id': ObjectId('672475933763d827ff362c8b'), 'name': 'Nabila', 'department': 'Finance', 'age': 19, 'salary': 7500}


Data updated
{'_id': ObjectId('672475933763d827ff362c84'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 6000}
{'_id': ObjectId('672475933763d827ff362c85'), 'name': 'Dila', 'department': 'Marketting', 'age': 20, 'salary': 9000}
{'_id': ObjectId('672475933763d827ff362c86'), 'name': 'Nur', 'department': 'Public speaker', 'age': 19, 'salary': 6500}
{'_id': ObjectId('672475933763d827ff362c87'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('672475933763d827ff362c88'), 'name': 'Dinda', 'department': 'Finance', 'age': 20, 'salary': 6500}
{'_id': ObjectId('672475933763d827ff362c89'), 'name': 'Dini', 'department': 'Marketting', 'age': 19, 'salary': 7500}
{'_id': ObjectId('672475933763d827ff362c8a'), 'name': 'Jundi', 'department': 'Public speaker', 'age': 21, 'salary': 8000}
{'_id': ObjectId('672475933763d827ff362c8b'), 'name': 'Nabila', 'department': 'Finance', 'age': 19, 'salary': 7500}


Data deleted
{'_id': ObjectId('672475933763d827ff362c85'), 'name': 'Dila', 'department': 'Marketting', 'age': 20, 'salary': 9000}
{'_id': ObjectId('672475933763d827ff362c86'), 'name': 'Nur', 'department': 'Public speaker', 'age': 19, 'salary': 6500}
{'_id': ObjectId('672475933763d827ff362c87'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('672475933763d827ff362c88'), 'name': 'Dinda', 'department': 'Finance', 'age': 20, 'salary': 6500}
{'_id': ObjectId('672475933763d827ff362c89'), 'name': 'Dini', 'department': 'Marketting', 'age': 19, 'salary': 7500}
{'_id': ObjectId('672475933763d827ff362c8a'), 'name': 'Jundi', 'department': 'Public speaker', 'age': 21, 'salary': 8000}
{'_id': ObjectId('672475933763d827ff362c8b'), 'name': 'Nabila', 'department': 'Finance', 'age': 19, 'salary': 7500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [28]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Marketting', 'average_salary': 8250.0}
{'_id': 'Public speaker', 'average_salary': 6666.666666666667}
{'_id': 'Finance', 'average_salary': 7000.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://2320506046:admin123@cluster0.wvk4q.mongodb.net/')
db = client['company_db']
datass = db['prodak']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')
product = [
    {'nama':'roti','harga':3000,'kategori':'makanan','jumlah':4},
    {'nama':'baju','harga':12000,'kategori':'pakaian','jumlah':3},
    {'nama':'detergen','harga':5000,'kategori':'barang','jumlah':5},
    {'nama':'sepatu','harga':50000,'kategori':'pakaian','jumlah':4},
    {'nama':'buku','harga':2000,'kategori':'barang','jumlah':6},
    {'nama':'laptop','harga':100000,'kategori':'barang','jumlah':3},
    {'nama':'susu coklat','harga':1000,'kategori':'makanan','jumlah':1},
    {'nama':'sayur','harga':3000,'kategori':'makanan','jumlah':4},
    {'nama':'topi','harga':6000,'kategori':'pakaian','jumlah':4},
    {'nama':'penghapus','harga':1000,'kategori':'barang','jumlah':5}
]

datass.insert_many(product)
print('Data inserted')
for product in datass.find():
  print(product)

Connected to MongoDB
Data inserted
{'_id': ObjectId('6721e800c48da19447a69e8a'), 'nama': 'roti', 'harga': 3000, 'kategori': 'makanan', 'jumlah': 4}
{'_id': ObjectId('6721e800c48da19447a69e8b'), 'nama': 'baju', 'harga': 12000, 'kategori': 'pakaian', 'jumlah': 3}
{'_id': ObjectId('6721e800c48da19447a69e8c'), 'nama': 'detergen', 'harga': 5000, 'kategori': 'barang', 'jumlah': 5}
{'_id': ObjectId('6721e800c48da19447a69e8d'), 'nama': 'sepatu', 'harga': 50000, 'kategori': 'pakaian', 'jumlah': 4}
{'_id': ObjectId('6721e800c48da19447a69e8e'), 'nama': 'buku', 'harga': 2000, 'kategori': 'barang', 'jumlah': 6}
{'_id': ObjectId('6721e800c48da19447a69e8f'), 'nama': 'laptop', 'harga': 100000, 'kategori': 'barang', 'jumlah': 3}
{'_id': ObjectId('6721e800c48da19447a69e90'), 'nama': 'susu coklat', 'harga': 1000, 'kategori': 'makanan', 'jumlah': 1}
{'_id': ObjectId('6721e800c48da19447a69e91'), 'nama': 'sayur', 'harga': 3000, 'kategori': 'makanan', 'jumlah': 4}
{'_id': ObjectId('6721e800c48da19447a69e92'), 'nama': 'topi', 'harga': 6000, 'kategori': 'pakaian', 'jumlah': 4}
{'_id': ObjectId('6721e800c48da19447a69e93'), 'nama': 'penghapus', 'harga': 1000, 'kategori': 'barang', 'jumlah': 5}

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [ ]:
pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$harga'}}},
    {'$project': {'_id': 0, 'average_price': 1}}
]
result = list(datass.aggregate(pipeline))[0]
average_price = result['average_price']

for product in datass.find({'harga': {'$gt': average_price}}):
    print(product)

{'_id': ObjectId('6721e800c48da19447a69e8d'), 'nama': 'sepatu', 'harga': 50000, 'kategori': 'pakaian', 'jumlah': 4}
{'_id': ObjectId('6721e800c48da19447a69e8f'), 'nama': 'laptop', 'harga': 100000, 'kategori': 'barang', 'jumlah': 3}

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
pipeline = [
    {'$group': {'_id': '$kategori', 'total_produk': {'$sum': '$jumlah'}}}
]
for result in datass.aggregate(pipeline):
    print(result)

{'_id': 'barang', 'total_produk': 19}
{'_id': 'makanan', 'total_produk': 9}
{'_id': 'pakaian', 'total_produk': 11}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [ ]:
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}},
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': '$$ROOT'}
    }},
    {'$project': {
        'top_employees': {'$slice': ['$top_employees', 5]}
    }}
]

result = collection.aggregate(pipeline)
for department in result:
    print(f"Department: {department['_id']}")
    for employee in department['top_employees']:
        print(employee)
    print('\n')

Department: Finance
{'_id': ObjectId('6721ec12c48da19447a69e9c'), 'name': 'Nabila', 'department': 'Finance', 'age': 19, 'salary': 7500}
{'_id': ObjectId('6722396fb64bb40e42a31b0d'), 'name': 'Nabila', 'department': 'Finance', 'age': 19, 'salary': 7500}
{'_id': ObjectId('6721ec12c48da19447a69e99'), 'name': 'Dinda', 'department': 'Finance', 'age': 20, 'salary': 6500}
{'_id': ObjectId('6722396fb64bb40e42a31b0a'), 'name': 'Dinda', 'department': 'Finance', 'age': 20, 'salary': 6500}


Department: Public speaker
{'_id': ObjectId('6721ec12c48da19447a69e9b'), 'name': 'Jundi', 'department': 'Public speaker', 'age': 21, 'salary': 8000}
{'_id': ObjectId('6722396fb64bb40e42a31b0c'), 'name': 'Jundi', 'department': 'Public speaker', 'age': 21, 'salary': 8000}
{'_id': ObjectId('6721ec12c48da19447a69e97'), 'name': 'Nur', 'department': 'Public speaker', 'age': 19, 'salary': 6500}
{'_id': ObjectId('6722396fb64bb40e42a31b08'), 'name': 'Nur', 'department': 'Public speaker', 'age': 19, 'salary': 6500}
{'_id': ObjectId('6721ec12c48da19447a69e98'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}


Department: Marketting
{'_id': ObjectId('6721ec12c48da19447a69e96'), 'name': 'Dila', 'department': 'Marketting', 'age': 20, 'salary': 9000}
{'_id': ObjectId('6722396fb64bb40e42a31b07'), 'name': 'Dila', 'department': 'Marketting', 'age': 20, 'salary': 9000}
{'_id': ObjectId('6721ec12c48da19447a69e9a'), 'name': 'Dini', 'department': 'Marketting', 'age': 19, 'salary': 7500}
{'_id': ObjectId('6722396fb64bb40e42a31b0b'), 'name': 'Dini', 'department': 'Marketting', 'age': 19, 'salary': 7500}

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [21]:
query = {'age': {'$lt': 25}}
collection.delete_many(query)
print('Data deleted')
for employee in collection.find():
    print(employee)

Data deleted
{'_id': ObjectId('6721ec12c48da19447a69e98'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('6722396fb64bb40e42a31b09'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('672461a23763d827ff362c4d'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('67246a463763d827ff362c55'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('672474003763d827ff362c5d'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}
{'_id': ObjectId('6724740f3763d827ff362c65'), 'name': 'Rahma', 'department': 'Public speaker', 'age': 28, 'salary': 5500}

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [15]:
pipeline = [
    {'$group': {'_id':'$department', 'total_salary': {'$sum':'$salary'}, 'rata_umur':{'$avg':'$age'}}}
]

result = collection.aggregate(pipeline)
for department in result:
    print(f"Department: {department['_id']}")
    print(f"Total Salary: {department['total_salary']}")
    print(f"Rata-rata Umur: {department['rata_umur']}")
    print('\n')

Department: Marketting
Total Salary: 16500
Rata-rata Umur: 19.5


Department: Finance
Total Salary: 14000
Rata-rata Umur: 19.5


Department: Public speaker
Total Salary: 36500
Rata-rata Umur: 25.333333333333332